@model IEnumerable<Onecore_Web.Models.Employee>
@{
    ViewData["Title"] = "Employee";
}
<style>
    .card {
        margin-top: 10%;
        width: 100%;
    }

</style>


<div class="row">
    <div class="card">
        <div class="card-body">

            <div class="row">
                <table class="table table-striped">
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                        <th>CPF</th>
                        <th>Cargo</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.EMP_ID)</td>

                                <td>@Html.DisplayFor(modelItem => item.EMP_FULLNAME)</td>

                                <td>@Html.DisplayFor(modelItem => item.EMP_DATEBORN, new { })</td>

                                <td>@Html.DisplayFor(modelItem => item.EMP_CPF)</td>

                                <td>@Html.DisplayFor(modelItem => item.EMP_ROLE)</td>

                                <td><a asp-controller="Employee" class="btn btn-primary" asp-action="Update" asp-route-id="@item.EMP_ID">Editar</a></td>

                                <td><a asp-controller="Employee" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EMP_ID">Delete</a></td>
                            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td><label style="" class="alert-link">Nenhum registro encontrado!!</label></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="btn-group align-content-sm-end">
        <button onclick="location.href='@Url.Action("PageCreate", "Employee")'" class="btn btn-dark">Criar Novo Colaborador</button>
    </div>
</div>


