@model Onecore_Web.Models.Employee

@{
    ViewData["Title"] = "Create";


}
<script src="~/jQuery-Mask-Plugin-master/dist/jquery.mask.js" type="text/javascript" asp-append-version="true"></script>
<style type="text/css">
    .linebar {
        width: 100%;
        border: 0.50px solid;
    }

    .card {
        margin-top: 100px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function ($) {
        $("#txtCPF").mask("999.999.999-99");
    }
</script>

<h2>Criar um novo Colaborador</h2>

@using (Html.BeginForm())
{
    
    <div class="row">
        <div class="card">
            <div class="card-body">
                <label style="width:100%; font-family:sans-serif; font-size: 20px">Colaborador</label>
                <div class="linebar"></div><br />
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(false, "", new { @class = "  alert-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Nome</label>
                            @Html.TextBoxFor(m => m.EMP_FULLNAME, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EMP_FULLNAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Data de Nascimento</label>
                            @Html.TextBoxFor(m => m.EMP_DATEBORN, new { @class = "form-control", @type = "Date" })
                            @Html.ValidationMessageFor(m => m.EMP_DATEBORN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>CPF</label>
                            @Html.TextBoxFor(m => m.EMP_CPF, new { @class = "form-control", id = "txtCPF" })
                            @Html.ValidationMessageFor(m => m.EMP_CPF, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Data Admissão</label>
                            @Html.TextBoxFor(m => m.EMP_DATEADMISSION, new { @class = "form-control", @type = "Date" })
                            @Html.ValidationMessageFor(m => m.EMP_DATEADMISSION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Cargo</label>
                            @Html.TextBoxFor(m => m.EMP_ROLE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EMP_ROLE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>RG</label>
                            @Html.TextBoxFor(m => m.EMP_RG, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EMP_RG, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Orgão</label>
                            @Html.DropDownListFor(m => m.EM_ID, (List<SelectListItem>)ViewBag.Emissor, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EM_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Escolaridade</label>
                            @Html.TextBoxFor(m => m.EMP_SCHOOLING, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EMP_SCHOOLING, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Telefone</label>
                            @Html.TextBoxFor(m => m.EMP_TELEPHONE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EMP_TELEPHONE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Celular</label>
                            @Html.TextBoxFor(m => m.EMP_PHONE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EMP_PHONE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            @Html.TextBoxFor(m => m.EMP_EMAIL, new { @class = "form-control", @type = "email" })
                            @Html.ValidationMessageFor(m => m.EMP_EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Gênero</label>
                            @Html.TextBoxFor(m => m.EMP_GENRE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EMP_GENRE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Empresa</label>
                            @Html.DropDownListFor(m => m.CPY_ID, (List<SelectListItem>)ViewBag.Empresa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CPY_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-control-plaintext">
            <div class="btn-group">
                <input type="submit" id="btnCreate" asp-controller="Employee" asp-action="Create" class="btn btn-dark" />
            </div>
        </div>
    </div>

}

