@model Onecore_Web.Models.Employee
@{
    ViewData["Title"] = "Page_Employee";
}
<style type="text/css">
    .linebar {
        width: 100%;
        border: 0.50px solid;
    }

    .card {
        margin-top: 100px;
    }
</style>


@using (Html.BeginForm())
{
    @Html.ValidationSummary()

<div class="container">
    <div class="card" style="width:100%">
        <div class="card-body">
            <label style="width:100%; font-family:sans-serif; font-size: 20px">Colaborador</label>
            <div class="linebar"></div><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nome</label>
                        @Html.TextBoxFor(m => m.EMP_FULLNAME, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Data de Nascimento</label>
                        @Html.TextBoxFor(m => m.EMP_DATEBORN, new { @class = "form-control", @type = "Date" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>CPF</label>
                        @Html.TextBoxFor(m => m.EMP_CPF, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Cargo</label>
                        @Html.TextBoxFor(m => m.EMP_ROLE, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>RG</label>
                        @Html.TextBoxFor(m => m.EMP_RG, new { @class = "form-control"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}


